{% extends 'base.html.twig' %}

{% block title %}Ankieta{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-12">
      <h1>Ankieta</h1>

      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
