{% extends 'base.html.twig' %}

{% block title %}Ankieta{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-12">
      <h1>Ankieta cz.2</h1>

      {{ form_start(form) }}
      <div class="form-group">
        {{ form_row(form.age) }}
      </div>
      <button type="submit" class="btn btn-primary">Zapisz</button>
      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
